<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <form action="/" method="post">
      <table>
        <tr>
          <td><input type="text" name="name"></td>
        </tr>
        <tr>
          <td><input type="submit"></td>
        </tr>
      </table>
    </form>
  </body>
</html>
